.row_heading {
  color: white;
  text-transform: white;
}

@media screen and (max-width: 768px) {
  .rows {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 426px) {
  .rows {
    grid-template-columns: repeat(2, 1fr);
  }
}
