.movie-card {
  position: relative;
  min-width: 220px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-card:hover .overlay {
  opacity: 1;
}
.movie-card:hover {
  scale: 1.1;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
}

.wishlist-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.wishlist-selected {
  color: red;
}
.fav-buff > button {
  margin-right: 20px;
}
