.movie-card {
  position: relative;
  min-width: 245px;
  height: 170px;
  margin: 15px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-card:hover .overlay {
  opacity: 1;
}
.movie-card:hover {
  scale: 1.1;
}

.movie_name h3 {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.card-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.wishlist-selected {
  color: red;
}
.fav-button > button {
  margin-bottom: 60px;
  margin-left: 190px;
}
@media screen and (max-width: 375px) {
  .movie-card {
    position: relative;
    min-width: 280px;
    height: 170px;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
