* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
.miniCard {
  /* height: 450px; */
  background-color: #000;
  color: #fff;
  padding: 5% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
@media screen and (max-width: 375px) {
  .miniCard {
    display: grid;
    justify-content: center;
    align-items: end;
  }
}
.contentone {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: left; */
  gap: 20px;
}
.contentone h1 {
  width: 100%;
  font-size: 45px;
}
.contentone p {
  font-size: 20px;
}

.minicardImage {
  height: 100%;
  width: 50%;
  overflow: hidden;
}
img {
  height: 100%;
  width: 100%;
}
