.heads{
    font-size:37px;
    font-family:sans-serif;
    font-weight:900;
}
.smallHeads{
    font-size: 23px;
    font-family: sans-serif;
    font-weight:500;
}
.paras{
    font-size:20px;
    font-family: sans-serif;
    font-weight:500;
}