.small {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: rgb(224, 24, 24);
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.signin {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: rgb(224, 24, 24);
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.medium {
  height: 60px;
  width: 230px;
  border: none;
  background-color: rgb(224, 24, 24);
  border-radius: 5px;
  color: white;
  font-size: 25px;
  padding: 10px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.large {
  height: 60px;
  width: 395px;
  border-radius: 5px;
  background-color: #e50914;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
